<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>投稿編集</h2>
      <%= form_with model: @post do |f| %>
        <%= render "form", post: @post, f: f %>
        <%= f.submit "更新" %>
      <% end %>
      <%= link_to "戻る", post_path(@post), class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>