<div class="container">
  <div class="row">
    <div class="col-12">
      <% if params[:tag_name] %>
        <h2>#<%= "#{params[:tag_name]}" %>一覧</h2>
      <% else %>
        <h2>投稿一覧</h2>
      <% end %>
      <%= render "public/posts/index", posts: @posts %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>