<div class="container py-5 bg-light rounded">
  <div class="w-75 mx-auto">
    <h2 class="my-4">管理者ログイン</h2>
    <%= render "public/sessions/form", model: @admin, url: admin_session_path %>
  </div>
</div>