@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//画像の下のドットの大きさ変更
.slick-dots li button:before{
	font-size: 50px!important;
}
//投稿画像が一枚の時はドットを非表示
.slick-dots > li:first-child:last-child {
    display: none;
}
//エラーメッセージの表示の変更
.field_with_errors {
  display: contents;
  input, textarea {
    @extend .is-invalid;
  }
}

.select_btn{
  height: 80px;
}

.select_btn .col-3 a{
  text-decoration:none;
}

.icon{
  font-size: 30px;
  transition: 0.5s;
}

.icon:hover{
  transform: translateY(-15px);
  font-size: 50px;
}

.indicator{
  display: flex;
  flex-flow: column;
  text-align: center;
  color: black;
}

.indicator strong:hover{
  opacity:1;
}

footer{
  padding-bottom:100px;
}

.background{
  background-color:white;
}


@media screen and (max-width:480px){
  strong{
    display:none;
  }
  
  .select_btn{
    height:50px;
  }
}