body, body a {
  color: #696969
}

body a:hover {
  color: black;
  text-decoration: none;
}

/*基本の背景色*/
.main {
  background-color: #f0ffff;
  min-height: 500px;
}

/*各コンテンツ内の背景色*/
.background {
  background-color: #f8f8ff;
}

.header-scroll {
  background-color: white;
}

.small-nav {
  display: none;
}

.wide-nav {
  list-style: none;
}

.nav-item {
  border-radius: 30px 100px / 120px;
}

.wide-nav .nav-item a:hover {
  color: white;
}

.height {
  height: 80px;
  background-color:#f0ffff;
}

.search-form #word {
  background: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  background-color: #f0ffff;
}

.top #word {
  width: 100%;
  font-size: 20px;
  background: none;
  height: 40px;
  margin: 0 auto;
}

.top #word:focus {
  background: none;
}

.about{
	background-color: white;	/*背景色*/
	border: 1px solid #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	-moz-box-shadow:1px 1px 6px 0px #ccc;
	-webkit-box-shadow:1px 1px 6px 0px #ccc;
	-o-box-shadow:1px 1px 6px 0px #ccc;
	margin: 50px;
	padding: 50px 50px 30px 50px;
	position: relative;
	z-index: 0;
}

.tape {
  position: absolute;
  top: -30px;
  background-color: #00bfff;
	border-left: 2px dotted rgba(255,255,255,0.9);
	border-right: 2px dotted rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
	padding: 5px 50px;
  color: #65513f;
  transform: rotate(-3deg);
  font-size: 30px;
}

.about p {
  letter-spacing: 3px;
  line-height: 1.8;
}

.button-gray {
  color: #696969;
  background-color: #cdcdcd;
  border-bottom: 5px solid #9c9c9c;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-gray:hover {
  margin-top: 3px;
  color: #fff;
  background-color: #7f7f7f;
  border-bottom: 2px solid #9c9c9c;
}

.button-blue {
  color: #fff;
  background-color: #1e90ff;
  border-bottom: 5px solid #708090;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-blue:hover {
  margin-top: 3px;
  color: #fff;
  background-color: #87cefa;
  border-bottom: 2px solid #708090;
}

.content .button-blue {
  border: none;
}

.button-red {
  color: #fff;
  background-color: #ff6666;
  border-bottom: 5px solid #ff3333;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-red:hover {
  margin-top: 3px;
  color: #fff;
  background-color: #ff9393;
  border-bottom: 2px solid #ff3333;
}

.title {
  background-color: #f0ffff;
  box-shadow: 0 0 5px 1.5px #a9a9a9;
}

.profile img {
  transition: 0.5s;
}

.profile:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.posts {
  width: 800px;
  height: 100%;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  border: 6px solid #333;
  margin: 100px auto 200px;
}

.content{
  font-size:20px;
}

.index:hover{
  background-color: #f0ffff;
}

footer {
  background-color: #87ceeb;
  padding-top: 100px;
  padding-bottom: 150px;
}

/*ページネーション*/
.pagination li a {
  border: none;     /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

.pagination .active a {
  border-radius: 15px;     /*角を丸くする*/
}

.pagination .active .page-link {
  background-color: #1e90ff;
}

.pagination li a:hover {
  border-radius: 15px; /*角を丸くする*/
  background-color: #1e90ff;
  color: white;
}

.page-link {
  background-color: inherit;
}

/*投稿画像が一枚の時はドットを非表示*/
.slick-dots > li:first-child:last-child {
    display: none;
}

.alert li{
  text-align: left;
  margin: 10px;
  list-style: none;
}

/*地図のスタイル*/
#map {
  height: 500px;
  width: 100%;
}

/*遷移ボタンのスタイル*/
.select-buttons {
  width: 100%;
  height: 80px;
  background-color: #87ceeb;
}

.indicator {
  height: 50px;
  width: 500px;
  margin: 0 auto;
  display: flex;

}

.select-buttons a {
  text-decoration: none;
  color: black;
}

.select-button {
  height: 80px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 30px;
  transition: 0.8s;
}

.select-button:hover .icon {
  transform: translateY(-35px);
  font-size: 50px;
  color: black;
}

.select-button strong {
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  transition: 0.8s;
}

.select-button:hover strong {
  opacity: 1;
  transform: translateY(15px);
  color: black;
}
/*遷移ボタンのスタイル終わり*/

/*ハンバーガーメニューのスタイル*/
/*メニューボタンのスタイル*/
.menu-button {
  display: block;
  padding: 0;
  width: 40px;
  height: 25px;
  position: fixed;
  background: none;
  border: none;
  text-align: center;
  color: black;
  top: 25px;
  right: 20px;
  z-index: 1001;
  outline: none;
}

.menu-button .menu-bar {
  display: block;
  width: 40px;
  height: 2px;
  transition: 0.2s;
  transform-origin: 0% 0%;
  position: absolute;
  left: 0;
  background-color: black;
}

.menu-button .menu-bar1 {
  top: 0;
}

.menu-button .menu-bar2 {
  top: 50%;
}

.menu-button .menu-bar3 {
  top: 100%;
}

.menu-text {
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  font-size: 10px;
}

.close-menu {
  display: none;
}

.menu-button.active .menu-bar {
  width: 35px;
  left: 8px;
}

.menu-button.active .menu-bar1 {
  transform: rotate(45deg) translateY(-50%);
  top: 0px
}

.menu-button.active .menu-bar2 {
  opacity: 0;
}

.menu-button.active .menu-bar3 {
  transform: rotate(-45deg) translateY(-50%);
  top: calc(100% - 0px)
}

.menu-button.active .open-menu {
  display: none;
}

.menu-button.active .close-menu {
  display: block;
}

/*ナビゲーションメニューのスタイル*/
a {
  text-decoration: none;
  color: black;
}

.nav-menu {
  padding: 100px 20px;
}

li{
  margin-bottom: 20px;
  text-align: center;
}

.open-menu-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	background-color: rgba(51, 51, 51, 0.5);
	display: none;
	top: 0;
	left: 0;
}

.nav-wrapper {
	width: 200px;
	height: 100%;
	transition: 0.2s;
	transform: translate(200px);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	background-color: #FFF;
}

.nav-wrapper .open {
	transform: translate(0);
}
/*ハンバーガーメニューのスタイル終わり*/

/*レスポンシブ対応*/
@media screen and (max-width: 800px){
  .small-nav {
    display: block;
  }

  .nav-item a {
    margin: 0;
    color: black;
  }

  .wide-nav .nav-item {
    display: none;
  }

  .header {
    background-color: white;
  }

  .posts {
    width: 100%;
  }
}

@media screen and (max-width: 550px){
  .background {
    background-color:  inherit;
  }

  .select-button strong {
    display: none;
  }

  .indicator {
    width: 100%;
  }

  .icon {
    font-size: 20px;
  }

  .search-form {
    width: 100%;
  }

  .search-form button {
    display: none;
  }

  .top {
    height: 200px;
  }

  .top img {
    width: 80%;
    height: auto;
  }

  .top #word {
    height: 100%;
    font-size: 100%;
  }

  .posts {
    width: 80%;
    padding: 0!important;
    border-radius: 0;
    border: none;
  }

  .new {
    position: relative;
    text-align: center;
    top: -60px;
    font-size: 30px;
  }

  .about {
    border: none;
    margin: 50px 10px;
    padding: 30px 10px 10px 10px;
    font-size: 15px;
  }

  .about p {
    letter-spacing: 1.0;
    line-height: inherit;
  }

  .tape {
    position: static;
    border: none;
    background-color: inherit;
    padding: 0;
  }

  .title {
    background-color: #f8f8ff;
  }

  .index:hover {
    background-color: #f8f8ff;
  }
}