<div class="background container py-5 rounded">
  <div class="w-75 mx-auto">
    <!--タイトル-->
    <div class="row">
      <div class="title p-2 rounded">
        <h3 class="mx-2 my-0">ログイン</h3>
      </div>
    </div>

    <!--ログインフォーム-->
    <%= render "public/sessions/form", model: @user, url: user_session_path %>
  </div>
</div>