<div class="background container py-5 rounded">
  <div class="w-75 mx-auto">
    <div class="row">
      <div class="title col-xs-12 p-2 rounded">
        <h3 class="m-2">ログイン</h3>
      </div>
    </div>
    
    <%= render "public/sessions/form", model: @user, url: user_session_path %>
  </div>
</div>