<div class="container py-5 bg-light rounded">
  <div class="row">
    <div class="col-10 mx-auto">
      <h3 class="text-center pb-5">退会画面</h3>
      <p>本当に退会しますか？</p>
      <p>退会すると投稿の閲覧はできますが、一部の機能(投稿、投稿へのいいね、コメント、いいね投稿一覧表示)が利用できなくなります。</p>
      <div class="row pt-5">
        <div class="col-5 mx-auto text-center">
          <%= link_to "マイページへ戻る", user_path(current_user), class: "btn btn-success" %>
        </div>
        <div class="col-5 mx-auto text-center">
          <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>