<div class="container">
  <div class="row py-4">
    <div class="col-8 mx-auto">
      <div class="text-center">
        <div>
          <%= image_tag @user.get_profile_image,size: "100x100", class: "rounded-circle" %>
        </div>
        <div class="mt-3">
          <%= @user.user_name %>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-8 mx-auto">
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-secondary btn-block" %>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12 mx-auto">
      <% if @user.posts.exists? %>
        <% @posts.each do |post| %>
          <%= post.title %>
        <% end %>
      <% else %>
        <p class="text-center">投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>